# Combine each month clean data sets into one data set

In [8]:
import pandas as pd

In [12]:
#You need to use the data file which is clean for each month and store them to run this to combine several months.
data_Jan = pd.read_csv("Data/All_Jan_out_Aug.csv")
data_Feb = pd.read_csv("Data/All_July_Sep.csv")
data_Jan.head()

   Pickup_ID  month    count category
0        1.0    1.0    584.0     Taxi
1        2.0    1.0      4.0     Taxi
2        3.0    1.0    432.0     Taxi
3        4.0    1.0  19656.0     Taxi
4        5.0    1.0      2.0     Taxi

# Use the concat function to do stack for several data sets

In [13]:
data_Jan_Mar = pd.concat([data_Jan,data_Feb], axis=0)
data_Jan_Mar.reset_index(drop=True,inplace=True)
data_Jan_Mar.head()

   Pickup_ID  month    count category
0        1.0    1.0    584.0     Taxi
1        2.0    1.0      4.0     Taxi
2        3.0    1.0    432.0     Taxi
3        4.0    1.0  19656.0     Taxi
4        5.0    1.0      2.0     Taxi

# Export data to csv.file

In [14]:
data_Jan_Mar.to_csv("All_TLC_Trip.csv",index=False)